{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}


<center><h1>Create Allow</h1></center>


<table class="table table-striped">
    <thead>
        <tr>
            <th>L/C #</th>
            <th>L/C Date</th>
            <th>Client</th>
            <th>Description</th>
            <th>Vessel</th>
            <th>Quantity</th>
            <th>IGM</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for lc in lcs %}
        
        <tr>
            <td>{{lc.lcNo}}</td>
            <td>{{lc.lcDate}}</td>
            <td>{{lc.client}}</td>
            <td>{{lc.item}}</td>
            <td>{{lc.vessel}}</td>
            <td>{{lc.totalQuantity}} M.Tons</td>
            <td>{{lc.igm}}{{lc.igmDate|date:'/y'}}</td>
            <td class="text-center"></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Actions
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{% url 'allow' lc.id %}">Print Allow</a></li>
                        <li><a class="dropdown-item" href="{% url 'wharfage' lc.id %}">Wharfage</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </td>
            {% comment %} <td><a class="btn btn-sm btn-info" href="{% url 'add_terminal' %}">Edit Terminal</a></td> {% endcomment %}
            <!-- Button trigger modal -->
            {% comment %} <td>
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addTerminalModal">
                Add Terminal
            </button>
            </td> {% endcomment %}
        </tr>
        
        {% endfor %}
    </tbody>
</table>
{% endblock content %}