{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}


<center><h1>Assign Terminals</h1></center>


<table class="table table-striped">
    <thead>
        <tr>
            <th>B/L #</th>
            <th>B/L Date</th>
            <th>Client</th>
            <th>Description</th>
            <th>Vessel</th>
            <th>Quantity</th>
            <th>IGM</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for bl in bls %}
        {% if bl.terminal is None %}
        <tr>
            <td>{{bl.blNo}}</td>
            <td>{{bl.blDate}}</td>
            <td>{{bl.lc.client}}</td>
            <td>{{bl.lc.item}}</td>
            <td>{{bl.lc.vessel}}</td>
            <td>{{bl.quantity}}</td>
            <td>{{bl.lc.igm}}{{bl.lc.igmDate|date:'/y'}}</td>
            <td class="text-center"></td>
            <td><a class="btn btn-sm btn-info" href="{% url 'add_terminal' bl.id %}">Add Terminal</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock content %}