{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<br>
<center><h1>Clients List</h1></center>
<div class="">
<table class="table table-striped table-sm align-middle">
    <thead>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Contact Person</th>
        <th>Mobile</th>
        <th>Phone</th>
        <th>Email</th>
        <th>City</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody style="font-size: 12px;">
    {% for client in clients %}
    
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{client.name}}</td>
        <td>{{client.person}}</td>
        <td>{{client.mobile}}</td>
        <td>{{client.phone}}</td>
        <td>{{client.email}}</td>
        <td>{{client.city}}</td>
        <td><a class="btn btn-primary btn-sm" href="{% url 'update_client' client.id %}">EDIT</a></td>
        <td><a class="btn btn-primary btn-sm" href="{% url 'client_detail' client.id %}">VIEW</a></td>
    </tr>
        {% endfor %}
    </tbody>
</table>
</div>


{% endblock content %}