{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<br>
<center><h1>Add B/L Details</h1></center>
<div class="container">
<form class="row g-sm-3" action="" method="post">
{% csrf_token %}
        {% for hidden in formset.hidden_fields %}
        {{hidden}}
        {% endfor %}
        {{formset.management_form}}

{% for form in formset %}
        <div class="col-sm-2">
        <label for="">B/L #</label>
            {{form.id}}{% render_field form.blNo class="form-control" %}
        </div>
        <div class="col-sm-2">
        <label for="">B/L Date</label>
            {% render_field form.blDate class="form-control blDate" %}
        </div>
        <div class="col-sm-2">
        <label for="">Quantity #</label>
            {% render_field form.quantity class="form-control" %}
        </div>
        <div class="col-sm-1">
        <label for="">Index #</label>
            {% render_field form.index class="form-control" %}
        </div>
        <div class="col-sm-2">
        <label for="">Rate of Warehouse</label>
            {% render_field form.whRate class="form-control" %}
        </div>
        <div class="col-sm-2">
        <label for="">Rate of Excise</label>
            {% render_field form.exciseRate class="form-control" %}
        </div>
{% endfor %}

<div class="col-md-12">
<center><button class="btn btn-lg btn-primary" type="submit">Submit</button></center>
</div>

</form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

<script>
$(document).ready(function(){
    $(".blDate").mask('00-00-0000', {placeholder: "dd-mm-yyyy"});
    
})
</script>

{% endblock content %}